**.log
**.egg-info
**/__pycache__
**/.vscode
**/.ipynb_checkpoints
build/*
logs/*
configs/*
temp/*
.snakemake/*
notes.md
todo.md
!*.gitkeep
libpod/*
nohup.out
src/quinex/analyze/create_plots/blablador.py
src/quinex/analyze/create_plots/blablador_config.py
*.pkl