on:
    workflow_dispatch:
    push:
        branches: ["**"]
jobs:
    TestPushPyPIDev:
        name: Test PyPi development version on ${{ matrix.runner_tag }}
        strategy:
            fail-fast: false
            matrix:
                runner_tag: ["self-hosted"]
        uses: FZJ-IEK3-VSA/.github/.github/workflows/_run_single_pypi_test.yml@main
        with:
            runner_tag: ${{ matrix.runner_tag }}
            python_version: "3.9"
            optional_dependency_PyPI_tag: "[dev]"
